html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5rem;
}

img {
  width: 100%;
}

h1, h2 {
  color: #5d8432;
  font-family: "Patua One", cursive;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

.bigfig {
  font-size: 1.01rem;
}

a,
a:link {
  color: #793284;
}

a:hover {
  color: #b42885;
}

li {
  font-weight: bold;
  font-size: 1.125rem;
  text-decoration: none;
  list-style-type: none;
  font-family: "Patua One", cursive;
}
